<nav class="navbar navbar-expand-lg navbar-light bg-light">   
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="schedule.html">Schedule</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="hobbies.html">Hobbies</a>
    </li>
    </ul>
    </div>
</nav>

<link rel="stylesheet" href="../resources/css/style.css">

<div class="row row-cols-1 row-cols-sm-2 g-3">
  <div class="col">
    <div class="card">
      <img src="C:\Users\andre\Downloads\Programming\resources\img\football.jfif" class="card-img-top" alt="card-grid-image">
      <div class="card-body">
        <h5 class="card-title">Sports</h5>
        <p class="card-text">I enjoy watching my favorite teams play.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="C:\Users\andre\Downloads\Programming\resources\img\hw.jfif" class="card-img-top" alt="card-grid-image">
      <div class="card-body">
        <h5 class="card-title">Homework</h5>
        <p class="card-text">Sometimes I have to do homework, this is not fun and very time consuming, but worth doing well.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="C:\Users\andre\Downloads\Programming\resources\img\kellys.jfif" class="card-img-top" alt="card-grid-image">
      <div class="card-body">
        <h5 class="card-title">Freinds</h5>
        <p class="card-text">I enjoy hanging around with friends at Kellys and Grog on the weekends.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src=C:\Users\andre\Downloads\Programming\resources\img\lifr.jfif class="card-img-top" alt="card-grid-image">
      <div class="card-body">
        <h5 class="card-title">Lifting</h5>
        <p class="card-text">I go to the gym 6 days a week. It has evolved from a hobby to a necessity to my sanity</p>
      </div>
    </div>
  </div>
</div>